<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Animales</h1>
    {% for animal in mostrar_animales %}
        <article>
            <h2>Nombre cuidador: </h2><p>{{ animal.cuidador }}</p>
            <h2>Animal: </h2><p>{{ animal.nombre }}</p>
            <h2>Tipo: </h2>{{ animal.tipo }}<p></p>
            <p>-----------------</p>
        </article>
    {% endfor %}
</body>
</html>